dateparser==1.1.4
discord.py==2.1.0
inflect==6.0.2
lol_id_tools==2.0.1
matplotlib==3.6.2
mplcyberpunk==0.6.0
pytest==7.2.0
rapidfuzz==2.13.6
SQLAlchemy==1.4.44
tabulate==0.9.0
types-tabulate==0.9.0.0
trueskill==0.4.5
psycopg2==2.9.4
alembic==1.9.1
pyot==6.0.5
fastapi==0.88.0
uvicorn==0.20.0
black==22.12.0
mypy==0.991
discord-ext-menus==1.1
# remove with sqlalchemy 2.0
sqlalchemy2-stubs==0.0.2a29
pytest-asyncio==0.20.2